@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1.6;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

html{
    height: 100%;
}


a{
    text-decoration: none;
    display: block;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
p{
    display: block;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.between{
    justify-content: space-between;
}
.around{
    justify-content: space-around;
}
.column{
    flex-direction: column;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.green-btn{
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #92DE61;
    color: white;
    border: #92DE61 1px solid;
    border-radius: 5px;
    transition: .2s;
}
.green-btn:hover{
    background-color: #689F44;
    border: #689F44 1px solid;
    letter-spacing: 0.1em;
}
.white-btn{
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    transition: .2s;
}
.white-btn:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: #182410;
    letter-spacing: 0.1em;
    
}
.fadein{
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 1500ms;
}
.fadein.scrollin{
    opacity: 1;
    transform: translate(0, 0);
}
body{
  height: 100%;
}
header{
    background-color:white;
    width: 100%;
    height: 80px;
    /* border: #000 1px solid; */
    position: relative;
}
header img{
    width: 20%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    transition: .2s;
}
header img:hover{
    width: 21%;
}
.first-view {
    background-image: url("../img/top-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.catch-copy {
    margin: 200px 0;
    width: 40%;
    /* border: #000 1px solid; */
}
.top-logo{
    width: 90%;
    margin: auto;
}
.top-text{
    color: white;
    text-align: center;
    margin: 20px 0 80px;
    font-size: 18px;
}
.fukidashi,
.mobile-p{
    display: none;
}
.link-box{
    /* border: #000 1px solid; */
    width: 50%;
    margin: auto;
}
.flex-btn{
    width: 45%;
}
.merit-wrapper{
    position: relative;
    width: 100%;
    height: 400px;
}
.merit-container{
    position: absolute;
    top: -35%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    margin: auto;
    /* /* border: #000 1px solid; */ */
}
.merit-content{
    width: 40%;
    /* border: #000 1px solid; */
    justify-content: center;
}
.merit-content img{
    box-sizing: border-box;
    width: 100%;
    /* border: #000 1px solid; */
}
.merit-text h2{
    text-align: center;
    margin: 10px 0;
    font-size: 25px;
    letter-spacing: 0.1em;
    color: #182410;
    opacity: 0.9;
}
.merit-text p{
    width: 100%;
    margin: auto;
    font-size: 14px;
    line-height: 2;
    /* border: #000 1px solid; */
    color: #182410;
    opacity: 0.9;
    text-align: center;
}
.task-container{
    width: 100%;
    height: 900px;
    background-color: #92DE61;
    padding-top: 40px;
}
.task-h3{
    width: 100%;
    color: #182410;
    font-size: 35px;
    letter-spacing: 0.1em;
    font-weight: normal;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.white-fukidashi{
    display: none;
}
.task-wrapper{
    width: 75%;
    height: 80%;
    margin: auto;
}
.task-block{
    width: 48%;
    height: 44%;
    background-color:rgba(255, 255, 255, 0.9);
    position: relative;
    border-radius: 20px;
}
.task-title{
    margin: 20px 30px;
    font-size: 35px;
    color: #182410;
    opacity: 0.87;
    letter-spacing: 0.1em;
}
.task-block ul{
    margin: 0 30px;
    list-style-position: inside;
    line-height: 2;
}
.task-block li{
    font-size: 15px;
    color: #182410;
    opacity: 0.87;
}
.task-block img{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 10%;
    height: auto;
    transition: .2s;
}
.task-block img:hover{
    width: 11%;
}
.task-number{
    position: absolute;
    bottom: -23%;
    right: 2%;
    font-size: 200px;
    color: #92DE61;
}
.details{
    width: 70%;
    height: 600px;
    margin: auto;
    padding: 30px 0;
    border-bottom: #cccccc 2px dashed;
}
.details span{
    font-size: 80px;
    color: #92DE61;
    
}
.details h4{
    font-size: 50px;
    letter-spacing: 0.1em;
    color: #92DE61;
    font-weight: normal;
    padding-left: 30px;
}
.details img{
    box-sizing: border-box;
    width: 48%;
    height: auto;
}
.details p{
    box-sizing: border-box;
    width: 48%;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.05em;
    padding-left: 30px;
    color: #182410;
}
.solution{
    height: 700px;
    position: relative;
    /* border: #000 1px solid; */
}
.arrow{
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 100px;
    font-weight: bold;
    color: #92DE61;
}
.solution-wrapper{
    width: 70%;
    height: 80%;
    margin: auto;
    /* border: #000 1px solid; */
}
.solution img{
    box-sizing: border-box;
    padding: 2%;
    width: 50%;
    height: auto;
}
.text-box{
    box-sizing: border-box;
    width: 50%;
    padding-left: 2%;
    color: #182410;
    opacity: 0.87;
    letter-spacing: 0.1em;
}
.text-box h5{
    font-size: 35px;
    line-height: 1.7;
    font-weight: normal;
}
.text-box span{
    font-size: 45px;
    font-weight: bold;
    color: #92DE61;
}
.responsive-br1{
    display: none;
}
.text-box p{
    font-size: 20px;
    margin-top: 12px;
}
.solution a{
    width: 30%;
    margin: auto;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    letter-spacing: 0.1em;
    transition: .2s;
}
.solution a:hover{
    letter-spacing: 0.2em;
}
.contact{
    background-image: url(../img/contact2.png);
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    height: 700px;
    margin-top: 100px;
    padding: 20px 0;
}
.contact h6{
    text-align: center;
    color: #fff;
    height: 50px;
    line-height: 50px;
    margin: 30px 0;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0.1em;
}
form{
    display: block;
    margin: auto;
    width: 50%;
}
.text-field{
    padding: 15px 0;
}
label{
    box-sizing: border-box;
    color: white;
    width: 35%;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}
input{
    box-sizing: border-box;
    width: 65%;
    font-size: 18px;
    line-height: 45px;
    border-radius: 20px;
    border: none;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.8);
}
textarea{
    box-sizing: border-box;
    width: 65%;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 20px;
    border: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}
.submit-box{
    width: 100%;
    margin-top: 30px;
}
.contact-btn{
    width: 30%;
    display: block;
    margin: auto;
    height: 50px;
    line-height: 50px;
    letter-spacing: 0.2em;
    cursor: pointer;
}
.contact-btn:hover{
    letter-spacing: 0.3em;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #182410;
    opacity: 0.9;
    color: white;
}
footer p{
    width: 30%;
    font-size: 12px;
    line-height: 100px;
    padding-left: 40px;
}
.footer-nav{
    width: 30%;
    /* border: #fff 1px solid; */
    height: 50px;
}
.footer-nav li{
    box-sizing: border-box;
    width: 30%;
    text-align: center;
    line-height: 50px;
    list-style: none;
    border-radius: 5px;
    font-size: 18px;
    transition: .2s;
    color: white; 
    /* border: #fff 1px solid; */
}
.footer-nav li:hover{
    letter-spacing: 0.1em;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.footer-nav a{
    color: white; 
}
.mobile-logo{
    display: none;
}

@media screen and (max-width: 1024px){
    .catch-copy{
        width: 60%;
        margin: 200px 100px;
    }
    .top-logo{
        width: 70%;
    }
    .top-text{
        font-size: 15px;
    }
    .link-box{
        width: 80%;
    }
    .merit-wrapper{
        height: 380px;
    }
    .merit-container{
        top: -25%;
        width: 80%;
    }
    .merit-content{
        width: 48%;
    }
    .merit-content img{
        width: 70%;
    }
    .merit-text p{
      font-size: 12px;
    }
    .task-wrapper{
        width: 90%;
        height: 90%;
    }
    .task-block{
        height: 46%;
    }
    .task-title{
        margin-bottom: 10px;
    }
    .task-block ul{
        line-height: 1.7;
    }
    .task-block img{
        width: 15%;
    }
    .task-block img:hover{
        width: 15%;
    }
    .task-number{
        font-size: 130px;
        bottom: -15%;
    }
    .details{
        width: 80%;
        height: 500px;
    }
    .details p{
        line-height: 1.7;
        letter-spacing: normal;
    }
    .solution{
        height: 600px;
    }
    .text-box h5{
        font-size: 28px;
    }
    .text-box span{
        font-size: 40px;
    }
    .responsive-br2{
        display: none;
    }
    form{
        width: 70%;
    }
    .contact-btn{
        width: 40%;
    }
    footer{
        height: auto;
    }
    footer p{
        width: 40%;
        font-size: 10px;
        padding-left: 20px;
    }
    .footer-nav{
        width: 45%;
        height: 50px;
    }
    .footer-nav li{
        font-size: 11px;
    }
}
@media screen and (max-width: 767px){
    header img{
        width: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    header img:hover{
        width: 75%;
    }
    .first-view{
        width: 100%;
        height: auto;
    }
    .catch-copy{
        width: 80%;
        margin: 50px 0 150px;
        top: 50%;
        left: 50%;
    }
    .top-logo,
    .top-text{
        display: none;
    }
    .fukidashi{
        display: block;
        width: 250px;
        height: 130px;
        margin: auto;
        position: relative;
    }
    .fukidashi img{
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .fukidashi h1{
        width: 100%;
        font-size: 22px;
        font-weight: normal;
        color: #182410;
        opacity: 0.87;
        text-align: center;
        position: absolute;
        top: 13%;
        left: 2%;
    }
    .mobile-p{
        display: block;
        color: white;
        text-align: left;
        width: 80%;
        margin: auto;
        padding-top: 10ox;
    }
    .link-box{
        flex-direction: column;
        width: 100%;
        margin: 20px 0 50px;
    }
    .flex-btn{
        width: 80%;
        margin: 15px 0;
    }
    .merit-wrapper{
        height: 800px;
    }
    .merit-container{
        flex-direction: column;
        width: 80%;
        top: -15%;
        left: 50%;
        transform: translateX(-50%);
    }
    .merit-content{
        width: 100%;
        margin-bottom: 30px;  
    }
    .merit-content img{
        width: 80%;
        margin: auto;
    }
    .merit-text{
        margin-bottom: 50px;
    }
    
    .task-container{
        width: 100%;
        height: 1500px;
        padding-top: 20px;
    }
    .task-h3{
        display: none;
    }
    .white-fukidashi{
        display: block;
        width: 250px;
        height: 70px;
        margin: auto;
        position: relative;
    }
    .white-fukidashi img{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .mobile-h3{
        width: 100%;
        display: block;
        position: absolute;
        top: 20%;
        left: 54%;
        transform: translateX(-50%);
        color: white;
        font-size: 18px;
        font-weight: normal;
    }
    .task-wrapper{
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 93%;
    }
    .task-block{
        width: 90%;
        height: 44%;
        margin: 10px 0;
    }
    .task-title{
        margin: 20px 20px 15px;
        font-size: 28px;
    }
    .task-block ul{
        margin: 0 20px;
        line-height: 1.7;
    }
    .task-block li{
        font-size: 14px;
    }
    .task-block img{
        width: 15%;
    }
    .task-block img:hover{
        width: 15%;
    }
    .task-number{
        bottom: -7%;
        right: 0;
        font-size: 80px;
    }
    .details{
        width: 80%;
        height: auto;
        padding: 30px 0 40px;
    }
    .details h4{
        font-size: 28px;
        padding: 0;
    }
    .details span{
        font-size: 40px;
    }
    .details-wrapper{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .details-wrapper img{
        width: 100%;
    }
    .details-wrapper p{
        width: 100%;
        font-size: 15px;
        letter-spacing: normal;
        margin-top: 10px;
        padding: 0;
    }
    .solution{
        width: 100%;
        height: auto;
        padding: 50px 0;
    }
    .arrow{
        font-size: 70px;
        /* color: #182410; */
        opacity: 0.87;
    }
    .solution-wrapper{
        width: 80%;
        height: 100%;
        margin: auto;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }
    .text-box{
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    .text-box h5{
        font-size: 22px;
        letter-spacing: 1.5;
    }
    .text-box span{
        font-size: 38px;
    }
    .responsive-br1{
        display: inline;
    }
    .responsive-br2{
        display: none;
    }
    .text-box p{
        font-size: 12px;
    }
    .solution img{
        width: 100%;
    }
    .solution a{
        width: 80%;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        margin-top: 25px;
    }
    .contact{
        margin-top: 30px;
        height: auto;
    }
    .contact h6{
        height: 30px;
        line-height: 30px;
        font-size: 25px;
        margin: 5px 0 20px;
    }
    form{
        width: 75%;
    }
    .text-field{
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 7px 0;
    }
    label{
        width: 100%;
        font-size: 15px;
        padding: 0;
        margin-bottom: 5px;
    }
    input{
        width: 100%;
        font-size: 15px;
        line-height: 35px;
        border-radius: 15px;
    }
    textarea{
        width: 100%;
        font-size: 15px;
        line-height: 1.5;
        border-radius: 15px;
    }
    .submit-box{
        margin: 20px 0 30px;
    }
    .contact-btn{
        width: 100%;
        height: 40px;
        font-size: 18px;
    }
    footer{
        height: auto;
        padding: 20px 0 10px;
    }
    .footer-wrapper{
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        flex-wrap: nowrap;
        position: relative;   
    }
    .mobile-logo{
        display: block;
        width: 70%;
        height: auto;
    }
    .footer-nav{
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        margin: 20px 0 10px;
    }
    .footer-nav li{
        box-sizing: border-box;
        width: 60%;
        height: 54px;
        line-height: 40px;
        padding: 7px 0;
        margin: 10px 0;
        border: #fff 1px dashed;   
    }
    .none{
        border: none;
    }
    footer p{
        top: 50px;
        width: 100%;
        padding: 0;
        margin-top: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
    }
}